<div class="quotes">
  <blockquote id="qod-quote"></blockquote>
</div>



<div class="twitter">
  <a class="twitter-timeline" href="https://twitter.com/AnneWHilborn" data-widget-id="665713554226585600">Tweets by @AnneWHilborn</a>
</div>
<div class="center-box"> 
  <h2><%= @weather["currently"]["summary"] %></h2>
  <h2><%= @weather["currently"]["temperature"].to_i  %></h2>
  <h2><%= @weather["daily"]["temperature"].to_i  %></h2>
  <h2><%= @weather["daily"]["summary"] %></h2>
 
</div>

