<div class="quotes">
  <blockquote id="qod-quote"></blockquote>
</div>



<div class="twitter">
  <a class="twitter-timeline" href="https://twitter.com/AnneWHilborn" data-widget-id="665713554226585600">Tweets by @AnneWHilborn</a>
</div>
<div class="center-box"> 
  <h2>Today's weather is: <%= @weather["currently"]["summary"] %></h2>
  <h2>temperature: <%= @weather["currently"]["temperature"].to_i  %></h2>
  <h2>Today's daily weather is: <%= @weather["daily"]["temperature"].to_i  %></h2>
  <h2>Today's daily summary is: <%= @weather["daily"]["summary"] %></h2>
</div>

