<div class="new_user">
  <h2><%= current_user.first_name %>'s Profile</h2>
  <p>City: <%= user_profile.city %></p>
  <p>Favorite Quote: <%= user_profile.fav_quote %></p>
  <p>Goal: <%= user_profile.goal %></p>
</div>